
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#ID_txt04,#ID_txt05{
	margin-left: -8px !important;
}

@media only screen and (device-width: 768px) {
#ID_txt04,#ID_txt05{
	margin-left: -8px !important;
}
}