
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt05{width:172px !important;}
.div15px{padding-left:15px;}
#ID_bodyTxt02 li{letter-spacing:-0.2px;}
#ID_s1_txt03, #ID_s1_txt01{letter-spacing:-0.5px !important;}
@media only screen and (device-width: 768px) {
#ID_s1_txt02{
	top:4px !important;
	}
}

#ID_title{
	left: 120px !important;
}