
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
}
#flashContent {
	width:98%;
	height:98%;
}

#txt1{
	letter-spacing: -4px;
}

pre{
	line-height: 13px;
	letter-spacing: -0.8px;
}

.orange{
	width: 100%;
}



