
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

#ID_static_17{
	letter-spacing: -2px !important;
}
code{
	white-space:pre;
	font-size:10px;
}
.color{
	background-color:#FACCA8;
}


#ID_s1_txt01{letter-spacing:-.2px !important;}

