
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

.red {background-color:#FACCA8; padding:1px; display:inline-block; margin-bottom:1.5px; width:397px;}


#ID_s2_txt01,#ID_s2_txt01,#ID_s4_txt01 { word-spacing:1px !important; font-family:arial !important;}

#ID_static_27, #ID_static_31{
	letter-spacing:-0.6px !important;
	}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
#ID_static_7, #ID_static_8{
	letter-spacing:-0.9px !important;
	}
}