
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s4_INCORRECT_TITLE,#ID_s4_CORRECT_TITLE,#ID_s2_INCORRECT_TITLE,#ID_s2_CORRECT_TITLE,#ID_s3_INCORRECT_TITLE,#ID_s3_CORRECT_TITLE
{
	margin-top: -13px;
}


@media only screen and (device-width: 768px) {
#ID_s4_INCORRECT_TITLE,#ID_s4_CORRECT_TITLE,#ID_s2_INCORRECT_TITLE,#ID_s2_CORRECT_TITLE,#ID_s3_INCORRECT_TITLE,#ID_s3_CORRECT_TITLE
{
	margin-top: -13px;
}
}