
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}

#ID_s1_txt04{
letter-spacing: -0.2px;
}

#htmlMedia{
	height: 490px !important;
}