
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s8_txt01{line-height:14px;}
.color{background:#facca8;display:block; width:99.8%;}
#alignment{
	letter-spacing:-0.5px !important;
	}

@media only screen and (device-width: 768px) {
#alignment, #ID_s1_txt02{
letter-spacing:-1.2px !important;
}
}

#alignment{
	padding-right: 10px !important;
}