
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

#ID_s1_title,#ID_s2_title,#ID_s3_title
{
margin-left: 100px;
}

#router_text2 span {background-color:#FACCA8;}

#ID_static_4{
	letter-spacing: -0.6px !important;
}